/* body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}  */


#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container > #top-navbar{
  width: 100%;
  display: flex;
  flex-direction: column;
}

#container > #user-panel {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

.card-body > span {
  width: 100%;
  font-size: 10px;
  flex-wrap: nowrap;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

#user-panel {
  width: 100%;
  flex-wrap: wrap;
}
